@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@700&family=Vollkorn:ital@0;1&display=swap');

:root {
	--cafe : #231e1c;
	--cafeclaro : #302721;
	--amarillo : #ffc771;
	--rojo : #ff8145;
	--azul : #00476f;
	--celeste : #a3deff;
	--verde : #b9ff71;
	
	--borde : 4px;
	--margen : 4px;
	--altobase : 250px;
	
	--bs-body-font-family: 'Vollkorn', serif;
	--bs-body-color: var(--amarillo);
}

body {
	background: rgb(77,49,36);
	background: linear-gradient(90deg, var(--cafeclaro) 0%, var(--cafe) 20%, var(--cafe) 80%, var(--cafeclaro) 100%);
	
}

h1 {
	font-family: 'Vollkorn SC', serif;
}

h2 {
	font-family: 'Vollkorn SC', serif;
}

h3 {
	font-size : 1.1rem;
	font-family: 'Vollkorn SC', serif;
}

h4 {
	font-style: italic;
	font-size : 1rem;
}

p {
	
}

main {
	margin : auto;
	margin-top : 60px;
}

.marco {
	padding : var(--margen) ;
}

.tarjeta {
	background : var(--cafe);
	position : relative;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: 100% auto;
	border-radius : var(--borde);
	width : 100%;
	height : 100%;
	
}
.tarjeta:hover {
	box-shadow : 0px 0px 5px var(--amarillo);
}


.tarjeta div{
	bottom : 0;
	position : absolute;
	width : 100%;
	height : 0;
	mask: linear-gradient(to top, black, transparent);
	backdrop-filter : blur(20px);
	border-radius : 0 0 var(--borde) var(--borde) ;
	transition : height 0.4s;
}
.tarjeta:hover div{
	height : 100%;
	border-radius : var(--borde);
}
.tarjeta-lg .tarjeta:hover div, .col-lg-3 .tarjeta-md .tarjeta:hover div{
	height : 50%;
}


.col-lg-6 .tarjeta-md .tarjeta div{
	right : 0;
	position : absolute;
	width : 0;
	height : 100%;
	mask: linear-gradient(to left, black, transparent);
	backdrop-filter : blur(20px);
	border-radius : 0 var(--borde) var(--borde) 0 ;
	transition : width 0.4s;
}
.col-lg-6 .tarjeta-md .tarjeta:hover div{
	width : 50%;
}


.tarjeta h3{
	color : var(--cafe);
	margin : 1rem;
	bottom : 0rem;
	right : 0;
	position : absolute;
	text-align : right;
	opacity : 0;
	transition : color 0.8s, bottom 0.8s, opacity 0.4s;
	
}
.tarjeta:hover h3 {
	bottom : 1rem;
	color : var(--amarillo);
	opacity : 100%;
}
.tarjeta h4{
	color : var(--amarillo);
	margin : 1rem;
	bottom : 0;
	left : 0;
	position : absolute;
	
}
.tarjeta p{
	margin : 0;
	bottom : 0;
	position : absolute;
	
}


.perfil .tarjeta {
	height : calc(3*var(--altobase) - 2*var(--margen));
	box-shadow : 0px 0px 0px var(--rojo) !important;
	
	border : 1px solid var(--amarillo);
}

.tarjeta-sm , .col-lg-6 .tarjeta-md {
	height : var(--altobase);
}

.tarjeta-lg , .col-lg-3 .tarjeta-md {
	height : calc(2*var(--altobase));
}

@media only screen and (max-width: 960px) {
	
	.tarjeta div{
		right : 0;
		position : absolute;
		width : 0;
		height : 100% !important;
		mask: linear-gradient(to left, black, transparent);
		backdrop-filter : blur(20px);
		border-radius : 0 var(--borde) var(--borde) 0 ;
		transition : width 0.4s;
	}
	.tarjeta:hover div{
		width : 50%;
	}
	
}
